h1 {
    border: 6px,black;
    padding: 6px;
    text-align: center;
    background-image:url("https://www.freepik.com/free-vector/modern-abstract-dark-violate-pink-background_159480835.htm#fromView=keyword&page=1&position=0&uuid=690240dc-4a75-4893-b4bf-352d34ec7144&query=Modern+background");
}