.khatri {
    text-align: center;

    /*background-image: url ("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnUVdYoo_BG8u0MfdXGxKjjdCIxILMVDzJJw&s");*/
    background-image: url("sss.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    color: aliceblue;
    height: 100vh;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    padding-top: 10px;
    padding: 10%;
    


}
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
p{
    margin: 2%;
    display: list-item
}
h5 {
    padding-right: 90%;
    
}
h4 {
    padding-right: 90%;
}
